* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.App {
  background-color: beige;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  width: 100%;
  color: white;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: stretch;
  margin-top: 20px;
  margin-left: 20px; 
}

.beer-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #665b5b;
  background-color: rgb(133, 221, 209);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 10px;
  text-align: center;
  height: 100%;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.beer-card:hover {
  transform: translateY(-5px);
}

.beer-card img {
  width: 80%; 
  max-height: 120px; 
  object-fit: contain; 
  margin: 0 auto; 
}

input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Extra small screens (phones) */
@media (max-width: 576px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
